/* цвета */
/* основной мелкий текст описания и ссылки #757575 */
/* заголовки #212121 */
/* акцент : текст на кнопках и синем фоне + футер rgba(255, 255, 255, 0.6) */
/* бирюзовый акцент :  #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --accent-darkbox-color: #2f303a;
}

/* универсальный селектор */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodypage {
  font-family: Roboto, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* селектор для списков */
ul {
  list-style: none;
}
.cursors {
  cursor: pointer;
}
/* ==Стили для index.html== */
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1, 2;
}
/* Header-section */
.site-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.header-contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--primary-text-color);
}
.header-contacts .contact-link:hover,
.header-contacts .contact-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  color: var(--primary-white-color);
}
.blue-box {
  background-color: var(--accent-darkbox-color);
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 9;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
}

/* Features Section */
.feature-list .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--title-text-color);
}
.feature-list .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 7;
}
/* Service list section */
.services-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 2;
  color: var(--title-text-color);
}
/* Our team section */
.our-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1, 2;
  color: var(--title-text-color);
}
.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 2;
  color: var(--title-text-color);
}
.worker-function {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 2;
}
/* ==Footer== */
.footer-contact-list a {
  color: var(--primary-white-color);
}
.footer-contact-list .footer-link:hover {
  color: var(--accent-color);
}
.footer-contact-list .footer-link:focus {
  color: var(--accent-color);
}
/* ===Стили для portfolio.html=== */
/* portfolio button filter */
.portfolio-btn-box {
  background-color: var(--primary-bg-color);
}
.button {
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
}
.button .portfolio-btn:hover,
.button .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 4px;
}
.portfolio-btn {
  font-family: inherit;
}
/* portfolio menu */
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 9;
}
